{%extends "layout/layout.html"%}
{%block body%}
 
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="username">user name</label>
                        <input type="text" name="username" class="form-control" value="{{request.form.username}}">
                    </div>
                    <div class="form-group">
                        <label for="username">password</label>
                        <input type="password" name="password" class="form-control" value="{{request.form.password}}">
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pushpin"></span>&nbspLogin</button>
        
                </form>
  
</div>
{% endblock%}